.avatar {
  position: relative;
  display: inline-block;

  .avatar-img {
    display: block;
  }

  .avatar-empty {
    display: block;
  }
}

@media print {
  .avatar.avatar-hidden {
    display: none !important;
  }
}
